@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ffffff;
  /* background-image: linear-gradient(180deg, #00d0ff, #000000);
  background: hsla(228, 100%, 50%, 1);

  background: radial-gradient(
    circle,
    hsla(228, 100%, 50%, 1) 0%,
    hsla(228, 100%, 35%, 1) 2%,
    hsla(228, 100%, 20%, 1) 7%,
    hsla(0, 0%, 0%, 1) 35%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(228, 100%, 50%, 1) 0%,
    hsla(228, 100%, 35%, 1) 0%,
    hsla(228, 100%, 20%, 1) 7%,
    hsla(0, 0%, 0%, 1) 35%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(228, 100%, 50%, 1) 0%,
    hsla(228, 100%, 35%, 1) 0%,
    hsla(228, 100%, 20%, 1) 0%,
    hsla(0, 0%, 0%, 1) 35%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0033FF", endColorstr="#0024B3", GradientType=1 );
  */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100%;
  /* filter: blur(10px); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
    color: #ffffff;
  }
}
